POSTGRES_DB=encurtai_db
POSTGRES_USER=encurtai_user
POSTGRES_PASSWORD=encurtai_pass

SPRING_DATASOURCE_URL=jdbc:postgresql://encurtai-postgres:5432/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

JWT_SECRET_KEY = 
FRONTEND_URL = 


