.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Arquivos gerados
*.class

# Secrets locais
application.properties

#Build
target/